{% extends "layout.html" %} {% block body %}
<h3>Hakkımda</h3>
<hr />
Selam ben Ömer Cihad Naz, şuanda 10.Sınıf öğrencisiyim ve yazılım öğrenmeye
çalışıyorum... Fakat bunu yaparkende okula odaklanmak çok zor oluyor ve aynı
zamanda bir yandan teknik çizim öğrenmeye çalışıyorum, ingilizcemi geliştirmeye
çalışıyorum. İleride iyi yerlere gelmek istiyorum. Şuanki tek hayalim güzel bir
yazılımcı olup sevdiğim işte mutlu bir hayat yaşamak ve bu amacım için çalışmaya
devam etmek istiyorum ve ileride bu yazdığım bloğa bakıp ne kadarda kötüymüşüm
demek istiyorum...
<hr />
{% endblock body %}
